<div class="text-break" id="message-<%= message.id %>">
  <p><%= message.content %></p>
  <div class="name"><%=!current_user.is_doctor ? "#{@chatroom.patient.first_name} #{@chatroom.patient.last_name}" : "Dr. #{@chatroom.doctor.first_name} #{@chatroom.doctor.last_name}"%></div>
  <div class="time"><small><i><%= message.created_at.strftime("%a %b %e at %l:%M %p")%></i></small></div>
</div>
