// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #118ab2;
$lightblue: #9dcee2;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray:#0d0d0e;
$gray2: #4f5d75;
$gray3: #475469;
$gray4: #11212e;
$gray5: #494949;
$light-gray: #f8f9fa;

h1 {
  color: $gray;
  font-family: $h1-font !important;
  font-weight: bold !important;
}

h2 {
  color: $gray5 !important;
  font-family: $h2-font !important;
}
h3 {
  color: $gray5 !important;
  font-family: $h3-font !important;
}
h4 {
  color: $gray5 !important;
  font-family: $h4-font !important;
}
h5 {
  color: $gray5 !important;
  font-family: $h5-font !important;
}
h6 {
  color: $gray5 !important;
  font-family: $h6-font !important;
  font-weight: 900;

}

.bold-text {
font-weight:900;
color: rgb(47, 47, 47);
}

.fonts {
  font-family: Raleway;
}

p {
  font-family: Raleway;
}
