// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray:#2d3142;
$gray2: #4f5d75;
$gray3: #475469;
$gray4: #11212e;
$light-gray: #f8f9fa;
