.disease {
  display: flex;
  flex-direction: column;
}

.disease-card {
  background: white;
  box-shadow: 0 0 15px $lightblue;
  padding: 30px;
  margin: 10px 70px 70px 70px;
  display: flex;
  border-radius: 6px;
  justify-content: center;
  flex-direction: column;
}

// .disease-description {
//   // order: 1; /* Keep the text on the left */
//   flex-grow: 1; /* Allow the text to take up remaining space */

// }

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  img {
    border-radius: 6px;
  }
}

.banner h1 {
  margin-left: 20px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.recom-docs {
    background: white;
    box-shadow: 0 0 15px $lightblue;
    width: 90%;
    height: 20%;
    padding: 30px;
    margin: 70px 70px 70px 70px;
    border-radius: 6px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    text-decoration: none;
    color: $gray;
    .rating {
      justify-content: center;
      align-items: center;
      margin-top: 20px;
    }
    .img-rat{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      box-shadow: 0 0 9px $lightblue;
    }
  }
.recos {
  text-align: center;
}
