.disease {
  display: flex;
}

.disease-card {
  background: white;
  box-shadow: 0 0 15px $lightblue;
  padding: 30px;
  margin: 70px;
  display: flex;
  border-radius: 6px;
  justify-content: center;
}

.disease-description {
  // order: 1; /* Keep the text on the left */
  flex-grow: 1; /* Allow the text to take up remaining space */

}
