// Specific CSS for your home-page
.containerr {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
  min-height: 100vh;
  background-color: white;
  border-radius: 5px;
}
body {
  margin: 0;
  a {
    text-decoration: none;
  }
}
.welcome-card {
  font-family: 'Cabin', sans-serif;
  text-align: center;
  margin-bottom: 20px;
  padding: 20px; /* Add padding to the welcome card if desired */
  width: 100%; /* Make the welcome card take the full width */
  box-sizing: border-box;
  border-radius: 5px;
}

.cards {
  display: flex;
  justify-content: center;
  margin-top: 35px;
  padding: 5px;
  flex-wrap: wrap;

}

.card-category {
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 10px;
}


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
