<div class="disease">
  <h1>ADHD (Attention Deficit Hyperactivity Disorder)</h1>
  <br>
  <h3>Overview</h3>
    Attention deficit hyperactivity disorder (ADHD) is a condition that affects people's behaviour. People with ADHD can seem restless, may have trouble concentrating and may act on impulse.
    Symptoms of ADHD tend to be noticed at an early age and may become more noticeable when a child's circumstances change, such as when they start school.
    Most cases are diagnosed when children are under 12 years old, but sometimes it's diagnosed later in childhood.
    Sometimes ADHD was not recognised when someone was a child, and they are diagnosed later as an adult.
    The symptoms of ADHD may improve with age, but many adults who were diagnosed with the condition at a young age continue to experience problems.
    People with ADHD may also have additional problems, such as sleep and anxiety disorders.
    <br>
    <br>
  <h3>Symptoms</h3>
  The symptoms of attention deficit hyperactivity disorder (ADHD) can be categorised into 2 types of behavioural problems:
  <ul>
  <li>inattentiveness (difficulty concentrating and focusing)</li>
  <li>hyperactivity and impulsiveness</li>
  </ul>
  The main signs of inattentiveness are:
  <ul>
  <li>Having a short attention span and being easily distracted</li>
  <li>Appearing forgetful or losing things</li>
  <li>Making careless mistakes – for example, in schoolwork</li>
  <li>Being unable to stick to tasks that are tedious or time-consuming</li>
  </ul>
  The main signs of hyperactivity and impulsiveness are:
  <ul>
  <li>Being unable to sit still, especially in calm or quiet surroundings</li>
  <li>Constantly fidgeting</li>
  <li>Being unable to concentrate on tasks</li>
  <li>Excessive physical movement</li>
  <li>Little or no sense of danger</li>
  </ul>
</div>
