<div class="disease">
<div class="disease-card">
  <h1>Anxiety</h1>
  <br>
  <h3>Overview</h3>
  <p>
  Anxiety is a feeling of fear, dread, and uneasiness. It might cause you to sweat, feel restless and tense, and have a rapid heartbeat. It can be a normal reaction to stress. For example, you might feel anxious when faced with a difficult problem at work, before taking a test, or before making an important decision. It can help you to cope. The anxiety may give you a boost of energy or help you focus. But for people with anxiety disorders, the fear is not temporary and can be overwhelming.
  </p>
  <h3>Symptoms</h3>
  The different types of anxiety disorders can have different symptoms. But they all have a combination of:
  <ul>
  <li>Anxious thoughts or beliefs that are hard to control. They make you feel restless and tense and interfere with your daily life. They do not go away and can get worse over time.</li>
  <li>Physical symptoms, such as a pounding or rapid heartbeat, unexplained aches and pains, dizziness, and shortness of breath</li>
  <li>Changes in behavior, such as avoiding everyday activities you used to do.</li>
  </ul>
</div>
</div>
