<div class="container">
<%= link_to root_path, class: "back-arrow" do %>
  <i class="fa-solid fa-arrow-left"></i>
  <% end %>
<div class="disease-card">

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1613312328068-c9b6b76c9e8a?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); border-radius: 6px;">
    <div class="container">
      <h1> What is <strong>Anxiety</strong><strong></strong> ?</h1>
    </div>
  </div>

<div class="disease-description">

  <br>
  <h3>Overview</h3>
  <p>
  Anxiety is a natural human response to stress or danger. It is a normal part of life and can be helpful in certain situations by prompting individuals to be alert and focused. However, when anxiety becomes excessive, prolonged, or disproportionate to the situation, it can interfere with daily life and well-being, leading to an anxiety disorder. Anxiety disorders are a group of mental health conditions characterized by excessive worry, fear, or nervousness. These conditions can manifest in various forms, such as generalized anxiety disorder (GAD), panic disorder, social anxiety disorder, and specific phobias. Each type of anxiety disorder has its own set of symptoms and triggers. Anxious thoughts or beliefs that are hard to control. They make you feel restless and tense and interfere with your daily life. They do not go away and can get worse over time.

  <h3>Symptoms</h3>
  <br>
  <p>The different types of anxiety disorders can have different symptoms. However, they often include:</p>
  <ul>
  <li class="fonts">Excessive worry or fear about future events</li>
  <li class="fonts">Physical symptoms, such as a pounding or rapid heartbeat, unexplained aches and pains, dizziness, muscle tension, and shortness of breath</li>
  <li class="fonts">Changes in behavior, such as avoiding everyday activities you used to do</li>
  <li class="fonts">Fatigue and difficulty concentrating</li>
  <li class="fonts">Irritability</li>
  <li class="fonts">Sleep disturbances</li>
  </ul>
  </p>
  </div>
</div>

 <h2 class="recos">Recommended psychologists</h2>
  <%= render "symp_doc" %>

</div>
