<div class="container">
<%= link_to root_path, class: "back-arrow" do %>
  <i class="fa-solid fa-arrow-left"></i>
  <% end %>
  <div class="disease-card">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1604881991720-f91add269bed?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
    <div class="container">
      <h1> What is <strong>Couple Therapy</strong><strong></strong> ?</h1>
    </div>
  </div>
  <div class="disease-description">
    <br>
    <h3>Overview</h3>
    <p>Couples therapy is a form of psychotherapy (also known as talk therapy). A licensed therapist with clinical experience — often a Licensed Marriage and Family Therapist (LMFT) — works with couples in romantic relationships. </p>
    <h3>Red Flags</h3>
    Red flags are warning signs that alert individuals of characteristics of a toxic partner or developing relationship, and mean that your partner might not be a good match for you. Being able to identify red flags early on in the relationship is very important, as it creates a safe relationship where both parties can trust one another and grow. At times, they may be hard to identify and it might be helpful to ask for support or feedback from others for validation.
    <p>Here are some red flags:</p>
    <ul>
    <li>Some jealousy in a relationship is common, but when an individual is excessively so, it can be harmful to the relationship. Someone may feel that jealousy indicates that their partner cares about the relationship. While this can be true to an extent, how the partner handles or exhibits their jealousy may not be healthy.</li>
    <li>Being in a relationship means that both parties will need to make compromises. This becomes hard if one partner is not willing to do so, but expects the other to. Having a stubborn partner can create resentment and other negative emotions that can affect the relationship.</li>
    <li>In a relationship, it is important to communicate about everything. It can be hard, and even detrimental, to be in a partnership where individuals shut down during hard conversations. Being able to have tough conversations in a relationship is what supports growth.</li>
    <li>Controlling behaviors can be a big red flag in a relationship. These may include individuals telling their partner what to wear, who to be friends with, what to eat, or how to act in certain situations. This is not healthy for either partner.</li>
    <li>Trust in a relationship is critical. Persistent lying is a big red flag that can create a lot of stress, as it hurts the individual(s) who is being lied to. Lying also fosters distrust, hindering the growth of the relationship itself.</li>
    <li>Another clear red flag in a relationship is when a partner uses put downs as a means to keep a person’s self-esteem and self-worth low. Excessive criticism in a relationship does not have a place at all.</li>
    <li>Abuse can be emotional, physical, or psychological, and it further exacerbates stress, distrust, and unhappiness within a relationship. Having an abusive partner can be hard to manage–seeking support and setting clear boundaries is essential when addressing this red flag.</li>
    </ul>
    </div>
  </div>
    <h2 class="">Recommended psychologists</h2>
  <%= render "symp_doc" %>
</div>
