<div class="container">
  <%= link_to root_path, class: "back-arrow" do %>
    <i class="fa-solid fa-arrow-left"></i>
  <% end %>
  <div class="disease-card">

  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1493836512294-502baa1986e2?q=80&w=1790&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
    <div class="container">
      <h1> What is <strong>Depression</strong><strong></strong> ?</h1>
    </div>
  </div>


    <div class="disease-description">
      <br>
      <h3>Overview</h3>
      <p>
      Depressive disorder (also known as depression) is a common and serious mental disorder hat negatively affects how you feel, the way you think and how you act. It involves a depressed mood or loss of pleasure or interest in activities for long periods of time. It can affect every aspects of life, including relationships with family, friends and community. It can result from or lead to problems at school and at work.
      Depression can happen  to anyone. People who have lived through abuse, severe losses or other stressful events are more likely to develop a depression disorder. Women are more likely to have depression than men.
      An estimated 3.8% of the population experience depression, including 5% of adults (4% among men and 6% among women), and 5.7% of adults older than 60 years. Approximately 280 million people in the world go through a depression.
      <h3>Symptoms</h3>
      During a depressive episode, a person experiences a depressed mood (feeling sad, irritable, empty). A depressive episode is different from regular mood fluctuations - it is not just a "bad day". It is a prolonged and severe state that can significantly impact daily life. Key symptoms include:
      <br>
      <br>
      <ul>
      <li>Poor concentration</li>
      <li>Feelings of excessive guilt or low self-worth</li>
      <li>Hopelessness and/or worthlesness</li>
      <li>Thoughts about death or suicidal idiation</li>
      <li>Disrupted sleep</li>
      <li>Changes in appetite or weight</li>
      <li>Fatigue or lack of energy</li>
      </ul>
      </p>
    </div>


  </div>

      <h3 class="recos">Recommended psychologists</h3>

      <%= render "symp_doc" %>

</div>
