<div class="disease">
  <%= link_to root_path, class: "back-arrow" do %>
    <i class="fa-solid fa-arrow-left"></i>
  <% end %>
  <div class="disease-card">

    <div class="disease-description">
      <h1>Depression</h1>
      <br>
      <h3>Overview</h3>
      <p>
      Depressive disorder (also known as depression) is a common mental disorder. It involves a depressed mood or loss of pleasure or interest in activities for long periods of time. Depression is different from regular mood changes and feelings about everyday life. It can affect all aspects of life, including relationships with family, friends and community. It can result from or lead to problems at school and at work.
      Depression can happen  to anyone. People who have lived through abuse, severe losses or other stressful events are more likely to develop depression. Women are more likely to have depression than men.
      An estimated 3.8% of the population experience depression, including 5% of adults (4% among men and 6% among women), and 5.7% of adults older than 60 years. Approximately 280 million people in the world have depression </p>
      <h3>Symptoms</h3>
      During a depressive episode, a person experiences a depressed mood (feeling sad, irritable, empty). They may feel a loss of pleasure or interest in activities.
      A depressive episode is different from regular mood fluctuations. They last most of the day, nearly every day, for at least two weeks.
      Other symptoms are also present, which may include:
      <ul>
      <li>Poor concentration</li>
      <li>Feelings of excessive guilt or low self-worth</li>
      <li>Hopelessness about the future</li>
      <li>Thoughts about dying or suicide</li>
      <li>Disrupted sleep</li>
      <li>Changes in appetite or weigh</li>
      <li>Feeling very tired or low in energy.</li>
      </ul>
    </div>


  </div>
</div>
