<div class="container">
  <div class="welcome-card">
    <h1>Welcome</h1>
    <br>
    <h1>Find the right path to recovery with the right psy 4 U</h1>
  </div>
  <div class="search-card">
    <div class="search-bar">
      <input type="text" placeholder="Search..." style="width: 100%;">
    </div>
    <div>
      <button class="search-button" type="submit">Search</button>
    </div>
  </div>
</div>
