<div class="disease">
<div class="disease-card">
  <h1>OCD (Obsessive-Compulsive Disorder)</h1>
  <br>
  <h3>Overview</h3>
  <p>
    Obsessive-compulsive disorder (OCD) is a long-lasting disorder in which a person experiences uncontrollable and recurring thoughts (obsessions), engages in repetitive behaviors (compulsions), or both. People with OCD have time-consuming symptoms that can cause significant distress or interfere with daily life.
  </p>
  <h3>Symptoms</h3>
  People with OCD may have obsessions, compulsions, or both. Obsessions are repeated thoughts, urges, or mental images that are intrusive, unwanted, and make most people anxious. Common obsessions include:
  <ul>
  <li>Fear of germs or contamination</li>
  <li>Fear of forgetting, losing, or misplacing something</li>
  <li>Fear of losing control over one’s behavior</li>
  <li>Aggressive thoughts toward others or oneself</li>
  <li>Unwanted, forbidden, or taboo thoughts involving sex, religion, or harm</li>
  </ul>
  Compulsions are repetitive behaviors a person feels the urge to do, often in response to an obsession. Common compulsions include:
  <ul>
  <li>Excessive cleaning or handwashing</li>
  <li>Compulsive counting</li>
  <li>Praying or repeating words silently</li>
  <li>Compulsive counting</li>
  </ul>
</div>
</div>
