<div class="disease">
<div class="disease-card">
  <h1>PTSD (Post-traumatic Stress Disorder)</h1>
  <br>
  <h3>Overview</h3>
  Post-Traumatic Stress Disorder (PTSD) is a psychiatric disorder that can occur in people who have experienced or witnessed a traumatic event, series of events or set of circumstances. An individual may experience this as emotionally or physically harmful or life-threatening and may affect mental, physical, social, and/or spiritual well-being. Examples include natural disasters, serious accidents, terrorist acts, war/combat, rape/sexual assault, historical trauma, intimate partner violence and bullying.
  <h3>Symptoms</h3>
  Symptoms of PTSD usually begin within 3 months of the traumatic event, but they sometimes emerge later. To meet the criteria for PTSD, a person must have symptoms for longer than 1 month, and the symptoms must be severe enough to interfere with aspects of daily life, such as relationships or work. The symptoms also must be unrelated to medication, substance use, or other illness, and they can be:
  <ul>
  <li>Flashbacks—reliving the traumatic event, including physical symptoms, such as a racing heart or sweating</li>
  <li>Recurring memories or dreams related to the event</li>
  <li>Distressing thoughts</li>
  <li>Distressing thoughts</li>
  </ul>
</div>
</div>
