<div class="container">
  <%= link_to root_path, class: "back-arrow" do %>
    <i class="fa-solid fa-arrow-left"></i>
  <% end %>
<div class="disease-card">
 <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1662729217313-aba95936c5b3?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); border-radius: 6px;">
    <div class="container">
      <h1> What is <strong>PTSD (Post-traumatic Stress Disorder)</strong><strong></strong> ?</h1>
    </div>
  </div>
<div class="disease-description">
  <br>
  <h3>Overview</h3>
  <p>
  Post-Traumatic Stress Disorder (PTSD) is a psychiatric disorder that can occur in people who have experienced or witnessed a traumatic event, series of events or set of circumstances. An individual may experience this as emotionally or physically harmful or life-threatening and may affect mental, physical, social, and/or spiritual well-being. Examples include natural disasters, serious accidents, terrorist acts, war/combat, rape/sexual assault, historical trauma, intimate partner violence and bullying.
  <h3>Symptoms</h3>
  <p>Symptoms of PTSD usually begin within 3 months of the traumatic event, but they sometimes emerge later. To meet the criteria for PTSD, a person must have symptoms for longer than 1 month, and the symptoms must be severe enough to interfere with aspects of daily life, such as relationships or work. The symptoms also must be unrelated to medication, substance use, or other illness, and they can be:</p>
  <ul>
  <li class="fonts">Flashbacks—reliving the traumatic event, including physical symptoms, such as a racing heart or sweating</li>
  <li class="fonts">Recurring memories or dreams related to the event</li>
  <li class="fonts">Avoidance meaning individuals with PTSD may try to avoid reminders of the traumatic event, including places, people, thoughts, or activities associated with the trauma. They may also avoid talking about the traumatic experience</li>
  <li class="fonts">Negative Changes in Mood and Cognition, such as feelings of guilt or shame, distorted beliefs about oneself or others, a persistent negative emotional state, and difficulty experiencing positive emotions</li>
  <li class="fonts">Changes in Arousal and Reactivity:, as individuals with PTSD may experience heightened arousal, such as irritability, difficulty concentrating, hypervigilance, exaggerated startle response, and problems with sleep</li>
  </ul>
  </p>
  </div>
</div>

  <h2 class="recos">Recommended psychologists</h2>

<%= render "symp_doc" %>
</div>
