<div class="disease">
<div class="disease-card">
  <h1>Trauma</h1>
  <br>
  <h3>Overview</h3>
  Trauma is the lasting emotional response that often results from living through a distressing event. Experiencing a traumatic event can harm a person’s sense of safety, sense of self, and ability to regulate emotions and navigate relationships. Long after the traumatic event occurs, people with trauma can often feel shame, helplessness, powerlessness and intense fear.
  <h3>Symptoms</h3>
  A traumatic event can be:
  <ul>
  <li>a recent, single traumatic event (e.g., car crash, violent assault)</li>
  <li>a single traumatic event that occurred in the past (e.g., a sexual assault, the death of a spouse or child, an accident, living through a natural disaster or a war)</li>
  <li>a long-term, chronic pattern (e.g., ongoing childhood neglect, sexual or physical abuse).</li>
  </ul>
  A person who has experienced a traumatic event might develop either simple or complex PTSD.

</div>
</div>
