<div class="docx_box">
  <div class="row">
    <div class="col align-self-center">
      <% @doctors.each do |doctor| %>
        <div class="docs-box">
          <%= link_to doctor_path(doctor) do %>
            <div class="img-rat">
              <%= image_tag "default_avatar.png" , height: 200, width: 200, crop: :fill %>
              <p>rating</p>
            </div>
            <div class="docs-info">
              <%= doctor.first_name %>
              <%= doctor.last_name %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
