<div class="docx_box">


      <% @doctors.each do |doctor| %>
          <%= link_to doctor_path(doctor), class: "docs-box" do %>
            <div class="img-rat">

             <%= image_tag "icon.png", height: 200, width: 200, crop: :fill %>
             <p class="rating">rating stars</p>
            </div>

            <div class="docs-info">
            <p><h5><%= doctor.first_name %> <%= doctor.last_name %></h5></p>
            <p><br>Address</p>
            <p> 50$ per session</p>
            </div>
            <div class="future-map">

            </div>

          <% end %>
      <% end %>


</div>
