.alert {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
}
h1 {
  color: $gray;
}
h2 {
  color: $gray2;
}
h3 {
  color: $gray2;
}
h4 {
  color: $gray2;
}
h5 {
  color: $gray2;
}
h6 {
  color: $gray3;
}
