.chatroom {
  font-family: 'Cabin', sans-serif;
  background: white;
  margin-top: 10px;
  margin-bottom: 10px;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  height: 85vh;

  h1 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1rem;
  }

  .messages {
    height: 100%;
    overflow: scroll;
    padding: 1rem;
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }
}

.time {
  margin-left: 247px;
}

.name {
  margin-left: 333px;
}

.btn-send{
  height: 38px;
  width: 38px;
  color: white;
  background-color: #295f7b;
  border: grey;
  border-radius: 5px;
}
