.box {
  font-family: 'Cabin', sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 20px;
  padding: 20px;
}
.back-arrow {
  padding: 5px;
  margin-right: 20px;
  margin-left: -20px;
  margin-top: 15px;
  color: $gray;
  font-size: large;
  .fa-solid{
    padding: 5px;
    margin-left: 20px;
    margin-top: 20px;
    color: $gray;
    font-size: large;
  }
}
.box1 {
  background: white;
  box-shadow: 0 0 15px $lightblue;
  display: flex;
  align-items: space-around;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 20px;
  width: 90%;
  margin-bottom: 30px;
  border-radius: 6px;
  img{
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0 15px $lightblue;
  }
  .rate {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: x-large;
    margin-top: 20px;
  }
}
.box-div {
  margin: 5px;
}
.box2 {
  height: 30%;
  width: 55%;
  background: white;
  box-shadow: 0 0 15px $lightblue;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
  border-radius: 6px;
}
.box3 {
  height: 30%;
  width: 30%;
  background: white;
  box-shadow: 0 0 15px $lightblue;
  padding: 30px;
  border-radius: 6px;
}
.box4 {
    background: white;
    box-shadow: 0 0 15px $lightblue;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    width: 90%;
    margin-bottom: 30px;
    border-radius: 6px;
    margin-top: 30px;
}

.infos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.book_box {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
a {
  text-decoration: none;
}
}

.book_card {
  width: 90%;
  height: 30%;
  background: white;
  box-shadow: 0 0 15px $lightblue;
  padding: 30px;
  margin: 20px;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 6px;
  a {
    color: $gray2;
  }
  .canc_btn {
    margin-top: 10px;
  }
}

.docx_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  /* Center horizontally */
  align-items: center;      /* Center vertically */
  padding: 20px;
  width: 100vw;
}

.docs-box {
  background: white;
  box-shadow: 0 0 15px $lightblue;
  width: 80%;
  height: 20%;
  padding: 30px;
  margin: 20px;
  border-radius: 6px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  text-decoration: none;
  color: $gray;
  .rating {
    justify-content: center;
    align-items: center;
  }
  .img-rat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 0 9px $lightblue;
  }
}

.future-map {
  background: white;
  box-shadow: 0 0 15px $lightblue;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px;
  width: 90%;
  margin-bottom: 5px;
  border-radius: 6px;
  margin-top: 30px;
}
.box-div-name {
  margin-left: 10px;
}
.div-rev {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.docs-info {
  margin-top: 30px;
}

.doc-name {
  text-align: center;
}
