.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "$h5-font";
  background-color: rgba(121, 174, 187, 0.2);
  border-radius: 20px;
}

.info-window {
  background-color: rgba(121, 174, 187, 0.2);
  padding: 10px;
  border-radius: 20px;
}
