.navbar-lewagon {
  font-family: 'Cabin', sans-serif;
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 70px;
}

.dropdown-menu {
background-color: rgba($color: #ebebeb, $alpha: 0.5);

a{
  color: rgb(90, 89, 89);
  font-family: 'Cabin', sans-serif;
}
}
