.search-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  padding: 5px;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}
.search-bar input {
  padding: 10px;
  width: calc(100% - 10px);
  box-sizing: border-box;
  border-radius: 5px;
  border: 2px solid #ccc;
}
.search-button {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #2C6BB5;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin-left: auto; /* Move the button to the right */
  margin-top: auto;
}
