.slider-container {
  display: flex;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 360px;
  height: 40px;
  margin-left: 7px;
}

.switch input {
  display: none;
}

.slider {
  border-radius: 30px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #118ab2;
  transition: .4s;
}

.slider:before {
  border-radius: 30px;
  position: absolute;
  text-align: center;
  content: "Online Therapy";
  height: 32px;
  width: 200px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #118ab2;
  ;
}

input:focus + .slider {
  box-shadow: 0 0 1px #118ab2;
}

input:checked + .slider:before {
  transform: translateX(150px);
}


