.switch-button {
  font-family: 'Cabin', sans-serif;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #2C6BB5;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin-left: 5px;
}
