.switch-button {
  font-family: 'Cabin', sans-serif;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #71a9c8;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin-left: 5px;
}
